@font-face {
    font-family: "Lobster";
    src: url("lobster_1.4.eot");
    src: url("lobster_1.4.eot?#iefix") format("embedded-opentype"),
         url("lobster_1.4.woff2") format("woff2"),
         url("lobster_1.4.woff") format("woff"),
         url("lobster_1.4.ttf") format("ttf"),
         url("lobster_1.4.svg#Lobster") format("svg");
    font-style: normal;
    font-weight: 300;
}