/*----------  em  ----------*/
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}


/* fonts
====================================================*/
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin arialmt{
  font-family: "arialmt", sans-serif;
}

@mixin lobster{
  font-family: "lobster", sans-serif;
}

/*mixins*/
@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}

